{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "TUYA_CLIENT_ID": "DIN_CLIENT_ID",
    "TUYA_CLIENT_SECRET": "DIN_CLIENT_SECRET",
    "TUYA_BASE_URL": "https://openapi.tuyaeu.com"
  }
}
